{% extends 'base.html' %}
{% block content %}

<body class="everything-but-nav">

    <div id="main-title">
      <h1>AVOID ONLINE SCAMMERS WITH GOOD CHEDDAR.</h1>
      <br>
      <form action="/login">
        <input type="submit" id="homepage-button" value="Get Started" />
      </form>
    </div>
<br><br>

<div class="row">
  <div class="homepage-explanation">
    <h4>Good Cheddar allows you to make safe and secure payments for all your online transactions. This is how it works.</h4>
    <br><br>
    <img src="/static/explanation-diagram.png" alt="explanation" height="200" width="600">
  </div>
</div>
<br><br>
</div>
</body>
{% endblock %}
