{% extends 'base.html' %}
{% block content %}

<body class="everything-but-nav">
  <form class="login-form" action="/login" method="POST">
        <h1 id=login-title>Login to get started.</h1>
        
    <div class="contentform">
        <div id="sendmessage"> You are successfully logged in. Thank you. </div>


        <div class="login-container">
            <div class="form-group">
            <p>E-mail <span>*</span></p>    
            <span class="icon-case"><i class="fa fa-envelope"></i></span>
                <input class="login-inputs" type="email" name="email" id="email" data-rule="email" required data-msg="The 'email' field must be completed."/>
                <div class="validation"></div>
            </div>  

            <div class="form-group">
            <p>Password <span>*</span></p>  
            <span class="icon-case"><i class="fa fa-key"></i></span>
                <input class="login-inputs" type="password" name="password" id="password" data-rule="maxlen:15" required data-msg="The password field must be completed."/>
                <div class="validation"></div>
            </div>
    </div>
<button type="submit" value="Log In" class="button-login">Login</button>
New to Good Cheddar?<a href="/register"> Click here </a>to sign up!
</div>
</form>

</body>

{% endblock %}