{% extends 'base.html' %}
{% block content %}

<!-- <div class="log-in form">
    <h1>Login</h1>
    <form action="/login" method="POST">

        <div class="form-group">
            <label>Email:
                <input type="email" name="email" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>Password:
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Log In" class="button">
        </div>

    </form>

New to easy pay?<a href="/register"> Click here </a>to sign up!
</div> -->

<body class="everything-but-nav">
      <!-- <h1>Elegant Contact Form.</h1> -->
   <!-- <div class="info"><a href="https://www.grandvincent-marion.fr" target="_blank"><p> Made with <i class="fa fa-heart"></i> by Marion Grandvincent </p></a></div> -->
  
  <form class="login-form" action="/login" method="POST">
        <h1 id=login-title>Login to get started.</h1>
        
    <div class="contentform">
        <div id="sendmessage"> You are successfully logged in. Thank you. </div>


        <div class="login-container">
            <div class="form-group">
            <p>E-mail <span>*</span></p>    
            <span class="icon-case"><i class="fa fa-envelope"></i></span>
                <input class="login-inputs" type="email" name="email" id="email" data-rule="email" required data-msg="The 'email' field must be completed."/>
                <div class="validation"></div>
            </div>  

            <div class="form-group">
            <p>Password <span>*</span></p>  
            <span class="icon-case"><i class="fa fa-key"></i></span>
                <input class="login-inputs" type="password" name="password" id="password" data-rule="maxlen:15" required data-msg="The password field must be completed."/>
                <div class="validation"></div>
            </div>

            <!-- div class="form-group">
            <p>Company <span>*</span></p>
            <span class="icon-case"><i class="fa fa-home"></i></span>
                <input type="text" name="society" id="society" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné."/>
                <div class="validation"></div>
            </div> -->

            <!-- <div class="form-group">
            <p>Company Address <span>*</span></p>
            <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                <input type="text" name="adresse" id="adresse" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Adresse' doit être renseigné."/>
                <div class="validation"></div>
            </div>

            <div class="form-group">
            <p>Postcode <span>*</span></p>
            <span class="icon-case"><i class="fa fa-map-marker"></i></span>
                <input type="text" name="postal" id="postal" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Code postal' doit être renseigné."/>
                <div class="validation"></div>
            </div> -->  



    </div>

<!--     <div class="rightcontact">  

            <div class="form-group">
            <p>City <span>*</span></p>
            <span class="icon-case"><i class="fa fa-building-o"></i></span>
                <input type="text" name="ville" id="ville" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Ville' doit être renseigné."/>
                <div class="validation"></div>
            </div>  

            <div class="form-group">
            <p>Phone number <span>*</span></p>  
            <span class="icon-case"><i class="fa fa-phone"></i></span>
                <input type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres"/>
                <div class="validation"></div>
            </div>

            <div class="form-group">
            <p>Function <span>*</span></p>
            <span class="icon-case"><i class="fa fa-info"></i></span>
                <input type="text" name="fonction" id="fonction" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Fonction' doit être renseigné."/>
                <div class="validation"></div>
            </div>

            <div class="form-group">
            <p>Subject <span>*</span></p>   
            <span class="icon-case"><i class="fa fa-comment-o"></i></span>
                <input type="text" name="sujet" id="sujet" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
                <div class="validation"></div>
            </div>
        
            <div class="form-group">
            <p>Message <span>*</span></p>
            <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                <textarea name="message" rows="14" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Message' doit être renseigné."></textarea>
                <div class="validation"></div>
            </div>  
    </div> -->
<button type="submit" value="Log In" class="button-login">Login</button>
New to Good Cheddar?<a href="/register"> Click here </a>to sign up!
</div>
</form>

</body>

{% endblock %}